* {margin: 0; padding: 0;}

#mbti1 {text-transform:uppercase;}
#mbti2 {text-transform:uppercase;}
#mbti3 {text-transform:uppercase;}
#mbti4 {text-transform:uppercase;}
#mbti5 {text-transform:uppercase;}

body {font-family: Jua; background-color: #ffffff;}

.nav-distance {padding: 2.1% 7.7}
.navbar-light.navbar-brand {width: 230px; height: 40px; font-family: Jua; font-size: 50px; line-height: 1.68; text-align: left; color:#35465d;}
.navbar-light .navbar-toggler {border-color: #ffffff;}

.banner {margin: 0 auto; background-color:#666; text-align:center;}
.section {margin-top: 60px;}
.title {font-size: 2.5rem; font-family: Jua; line-height: 1.67; text-align: center; color: #35465d;}
.subtitle {font-family: Jua; line-height: 1.53; text-align: center; color: #35465d;}

@media screen and (max-width: 600px){
	html {
		font-size: 10px;
	}
	.contents {width:300px;}
	.navbar-brand{font-size: 2rem;}
}

.mbti-link {font-family:Jua; font-size: 1.5rem; line-height: 0.5; text-align: center; color: #f73737; text-decoration: underline;}
.mbti-link:hover {font-family:Jua; font-size: 1.5rem; line-height: 0.5; text-align: center; color: #f73737; text-decoration: underline;}

.contents {position: relative; font-family: Jua; line-height: 1.53; text-align: center; color: #35465d; border: 3px dashed green; border-radius: 20px; height:70vw; margin-bottom:20px;}
.contents2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

#howmany h2 {font-size: 3rem;}
#howmany select {border: 2px solid green; font-size: 1.8rem;}
#howmany button {border: 2px solid green; font-size: 1.3rem; padding: 5px;} 
#friend {margin: 0 auto;}
#friend > div {margin: 10px; font-size: 1.5rem;} 
#result {position: relative; font-size: 3rem;}
.reset {position: absolute; border: 2px solid green; font-size: 1.5rem; padding: 5px; width: 90%; height: 70%; top: 200%; right: 3%;}
.footer {height:100px; margin: 0 auto; background-color:#555; text-align:center;}

#layer {position: fixed; margin:30% 10% 10% 10%; width: 80%; height: 60%; border: 10px solid green; box-shadow: 3px 3px 10px rgba(0,0,0,0.4); background: #fff; } 
#layer .ad {width: 90%; height: 80%; margin: 0 auto;}
#layer .close {position: absolute; right:37.5%; left:37.5%; width: 25%; bottom: 5%; ; background: green; border: 2px solid green; padding: 1px 2px; color: #fff ; text-decoration:none; font-size: 1.5rem; text-align:center;}
#layer .close:hover {text-decoration: underline;}